/* things to work on: 
 * putting the same things into 1 place to avoid repetition
 * dividing up things correctly */

* {
    background-color: black;
    color: white;
    text-align: center;
    font size: 100px;
}

#video {
    text-align: center;

}

.Title {
    font family: Verdana;
    font weight: normal;
    font size: 50px;
    color: white;
    text-align: center;
}

.heading {
    font family: Verdana;

}

.download {
    color: aquamarine;
    font size: 16px;   
    text-align: center;
}

.footer {
    text-align: right;
    color: gray;
}

.text {
    font family: Verdana;
    font size: 21px;
    color: gray;
}
